<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/style.css" />
    <!-- Add your custom styles here -->
    <title>Arif Hasnat - Portfolio</title>
  </head>

  <body>
    <header>
      <img src="static/Arif3d.png" alt="Profile Image" class="small-image" />
      <h1>Arif Hasnat</h1>
      <p>Computer and Communication Engineering</p>
    </header>

    <section id="profile">
      <h2>Profile</h2>

      <p>
        I have successfully earned a Bachelor of Science degree in Computer and
        Communication Engineering (CCE) from the esteemed International Islamic
        University Chittagong. My passion for computer networking, machine
        learning, and cybersecurity fuels my academic journey. I've had the
        privilege of significantly contributing to student learning as a
        Teaching Assistant for Basic Electronics and Basic Communication
        Engineering. My research interests lie at the intersection of
        cybersecurity, machine learning, and networking.
      </p>
    </section>

    <section id="experience">
      <h2>Professional Experience</h2>
      <h3>Teaching Assistant</h3>
      <p>
        International Islamic University Chittagong | Jan 2023 – Jan 2024 |
        Chattogram, Bangladesh
      </p>
      <h4>Tasks:</h4>
      <ul>
        <li>Basic Electronics Sessional</li>
        <li>Basic Communication Engineering Sessional</li>
      </ul>

      <h3>Assistant General Secretary</h3>
      <p>CCE CLUB, IIUC | Nov 2022 – Sep 2023</p>

      <h3>Photographer</h3>
      <p>IEEE IIUC Student Branch | Dec 2021 – Jul 2023</p>

      <h3>Member Secretary, Seminar and Workshop Committee</h3>
      <p>CCE CLUB, IIUC | Nov 2021 – Nov 2022</p>

      <h3>Team Manager, ICT Olympiad Bangladesh Chittagong District College</h3>
    </section>

    <section id="education">
      <h2>Education</h2>
      <p>
        International Islamic University Chittagong | BACHELOR OF SCIENCE IN
        COMPUTER & COMMUNICATION ENGINEERING | CGPA: 3.793 | 2019 – 2023 |
        Chattogram, Bangladesh
      </p>
      <p>
        Thesis: Enhancing Insider Malware Detection Accuracy with Machine
        Learning Algorithms
      </p>
    </section>

    <section id="contact">
      <h2>Contact</h2>
      <p>
        Arif Hasnat<br />
        arifhasnat83@gmail.com<br />
        +8801626702431<br />
        1108, Middle Rampur Eidgah BowBazar Halishahar Chattogram<br />
        Bangladeshi | Single<br />
        <a href="https://github.com/arifhasnat3po" target="_blank">GitHub</a> |
        <a href="https://www.linkedin.com/in/arif-hasnat/" target="_blank"
          >LinkedIn</a
        >
      </p>
    </section>

    <section id="skills">
      <h2>Skills</h2>
      <ul>
        <li>Python</li>
        <li>Linux</li>
        <li>Penetration Testing</li>
        <!-- Add more skills as needed -->
      </ul>
    </section>

    <section id="projects">
      <h2>Projects</h2>
      <h3>Python Projects</h3>
      <p>
        <a
          href="https://github.com/arifhasnat3po/Python100DaysBootcamp"
          target="_blank"
          >Python 100 Days Bootcamp</a
        ><br />
        Accomplished a comprehensive Python training program on Udemy,
        showcasing proficiency in diverse areas including automation, game
        development, app development, web development, data science, and machine
        learning. Successfully completed 100 unique projects in 100 days,
        utilizing key Python libraries and frameworks such as Selenium,
        Beautiful Soup, Requests, Flask, Pandas, NumPy, Scikit Learn, and
        Matplotlib. Demonstrated hands-on experience in game development with
        creations like Blackjack, Pong, and Snake.
      </p>

      <h3>Social Media Web Application</h3>
      <p>
        <a
          href="https://github.com/arifhasnat3po/Social-Media-Web-Application"
          target="_blank"
          >Social Media Web Application</a
        ><br />
        I have hands-on experience designing a social media web application,
        demonstrating competency in both frontend and backend technologies.
      </p>
    </section>

    <!-- Add sections for Certificates, Publications, Languages, Interests, and References -->
  </body>
</html>
