<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Arif Hasnat</title>
    <link rel="stylesheet" href="static/styles.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Sacramento"
      rel="stylesheet"
    />
    <link rel="icon" href="favicon.ico" />
  </head>

  <body>
    <div class="top-container">
      <img class="top-cloud" src="static/cloud.png" alt="cloud" />
      <div class="title-text">
        <h1>I'm Arif Hasnat</h1>
        <h2>a <span class="pro">pro</span>grammer.</h2>
      </div>
      <img class="bottom-cloud" src="static/cloud.png" alt="cloud" />
      <img class="mountain" src="static/mountain.png" alt="mountain-img" />
    </div>

    <div class="middle-container">
      <div class="profile">
        <img src="static/Arif3d.png" alt="arif-profile-img" />
        <h2>Hello.</h2>
        <p class="intro">
          I have successfully earned a Bachelor of Science degree in Computer
          and Communication Engineering (CCE) from the esteemed International
          Islamic University Chittagong. My passion for computer networking,
          machine learning, and cybersecurity fuels my academic journey. I've
          had the privilege of significantly contributing to student learning as
          a Teaching Assistant for Basic Electronics and Basic Communication
          Engineering. My research interests lie at the intersection of
          cybersecurity, machine learning, and networking.
        </p>
      </div>
      <hr />
      <div class="skills">
        <h2>My Skills.</h2>
        <div class="skill-row">
          <img
            class="code-img"
            src="https://media.giphy.com/media/LmNwrBhejkK9EFP504/giphy.gif"
            alt="code-img"
          />

          <h3>Design & Development</h3>
          <p>
            Accomplished a comprehensive Python training program on Udemy,
            showcasing proficiency indiverse areas including automation, game
            development, app development, web development, datascience, and
            machine learning. Successfully completed 100 unique projects in 100
            days, utilizingkey Python libraries and frameworks such as Selenium,
            Beautiful Soup, Requests, Flask, Pandas,NumPy, Scikit Learn, and
            Matplotlib. Demonstrated hands-on experience in game developmentwith
            creations like Blackjack, Pong, and Snake.
          </p>
        </div>
        <div class="skill-row">
          <img
            class="chilli-img"
            src="static/chillies.png"
            alt="chillies-img"
          />

          <h3>Hot Wings Challenge</h3>
          <p>
            But my best skill is actually in eating hot wings. I am the
            undisputed queen of hot wing challenges. Ghost Peppers and Carolina
            Reapers are my favourite snacks.
          </p>
        </div>
      </div>
      <hr />
      <div class="contact-me">
        <h2>Get In Touch</h2>
        <h3>If you love hot wings as much as I do.</h3>
        <p class="contact-message">
          Love hot wings as much as I do? Let's talk about how awesome they are!
          We can code while we eat hot wings!
        </p>
        <a class="btn" href="mailto:ilove@hotwings.com">CONTACT ME</a>
      </div>
    </div>

    <div class="bottom-container">
      <a class="footer-link" href="https://www.linkedin.com/in/arif-hasnat/"
        >LinkedIn</a
      >
      <a class="footer-link" href="https://twitter.com/arifhasnat7">Twitter</a>
      <p class="copyright">© 2024 Arif Hasnat.</p>
    </div>
  </body>
</html>
